body
    font-family: 'Roboto Condensed', 'Droid Sans', 'Arial', sans-serif 

#outer
    width: 50px
    display: block
    background-color: #000000DD
    border-radius: 100px
    height: 17em
    width: 5em
    padding: 3em 1em 1em 1em
    text-align: center

    #inner
        background-color: #000000
        overflow-x: hidden
        display: block
        color: white
        height: 13em
        border-radius: 100px

    #circleButton
        width: 3em
        height: 3em
        border-radius: 50%
        background-color: #00000000
        display: inline-block
        color: #ffffff55
        padding: 0.95em
        box-sizing: border-box
        margin-top: 1em
    
section#bandDisplay
    position: relative
    height: 100%
    width: 100%
    
    .hour, .minute
        display: block
        position: absolute
        font-family: 'Dosis', 'Roboto', sans-serif, monospace
        font-size: 3.5em
        width: 100%
        text-align: center
    
    .minute
        top: 1.5em
        z-index: 2
        background: -webkit-linear-gradient(#fffb00 15%,#15ff00 35%, #00ffbf 80%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    
    .hour
        top: 0.8em
        z-index: 3
        background: -webkit-linear-gradient(#fffb00 15%,#ff7300 35%, #ff0062 80%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

::-webkit-scrollbar 
    display: none